body {
  	background-color: #D3D3D3;
  	margin: 0;
}

.login {
  	width: 400px;
  	background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 170px auto;
  	padding: 5px;
}
.login h1 {
  	text-align: center;
  	color: #5b6574;
  	font-size: 24px;
  	padding: 10px 0 20px 0;
  	border-bottom: 1px solid #dee0e4;
}

.login form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 20px;
}
.login form label {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 50px;
  	height: 50px;
  	background-color: #3274d6;
  	color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
  	width: 310px;
  	height: 50px;
  	border: 1px solid #dee0e4;
  	margin-bottom: 20px;
  	padding: 0 15px;
}
.login form input[type="submit"]{
  	width: 100%;
  	padding: 15px;
  	margin-top: 20px;
  	background-color: #3274d6;
  	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
  	transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
  	background-color: #2868c7;
  	transition: background-color 0.2s;
}

.navbar div div div a {
  	display: inline-flex;
  	align-items: center;
}

.navbar div div div a {
  	padding: 0 20px;
  	text-decoration: none;
  	color: #c1c4c8;
  	font-weight: bold;
}
.navbar div div a i {
  	padding: 2px 8px 0 0;
}
.navbar div div a:hover {
  	color: #eaebed;
}

.navbar div div select {
  	padding: 0 20px;
  	color: #c1c4c8;
  	background-color: #2f3947;
  	border:0
}

.navbar div div select:hover {
  	color: #eaebed;
}

.navbar div div select option{
  	background-color: #ffffff;
  	color:#000000
}

body.loggedin {
  	background-color: #f3f4f7;
}
.content {
  	width: '100%';
  	margin: 0 auto;
  	padding: 0 50px;
}
.content h2 {
  	margin: 0;
  	padding: 25px 0;
  	font-size: 22px;
  	border-bottom: 1px solid #e0e0e3;
  	color: #4a536e;
    text-align: center;
}
.content > p, .content > div {
  	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  	margin: 25px 0;
  	padding: 25px;
	 background-color: #fff;

}
.content > p table td, .content > div table td {
	padding: 5px;
}
.content > p table td:first-child, .content > div table td:first-child {
	font-weight: bold;
	color: #4a536e;
	padding-right: 15px;
}
.content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}

.msg {
    color: #FF0000
}

.success_msg {
    color: #00FF00;
    text-align: center;
    margin-bottom: 20px
}
.required{
  color: red;
  font-weight: 600;
}

.form-center{
  width: 30%;
  margin: 0 auto;
}
footer {
  background: #222;
  color: #aaa;
  padding-top: 10px;
}

footer a {
  color: #aaa;
}

footer a:hover {
  color: #fff;
}

footer h4 {
 color: #0894d1;
  letter-spacing: 1px;
  margin: 20px 0 20px;
}

footer .two-column {
 overflow: hidden;
}

footer .two-column li{
 width: 50%;
  float: left;
  padding: 5px 0;
}

footer .socila-list {
  overflow: hidden;
  margin: 20px 0 10px;
}

footer .socila-list li {
  float: left;
  margin-right: 3px;
  opacity: 0.7;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

footer .socila-list li:hover {
  opacity: 1;
}

footer .copyright {
  padding: 15px 0;
  background: #333;
  margin-top: 20px;
  font-size: 15px;
}

footer .copyright span {
  color: #0894d1;
}


.dark-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background: rgba(0,0,0,0.5)

}