{% extends 'layout_cashier.html' %}

{% block title %}Cashier{% endblock %}

{% block content %}
<h2>Account Details</h2>
<div>
    <form action="{{ url_for('account_details') }}" method="POST" class="form-center" >
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Customer ID/SSN ID" name="csn_id" id="csn_id" pattern="\d{9}" maxlength="9">
        </div>
        <p style="text-align:center;">
            <span>or</span>
        </p>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Account ID" name="account_id" id="account_id" maxlength="9">
        </div>
        <div class="form-group text-center">
            <button type="submit" value="submit" class="btn btn-primary ">View</button>
        </div>

    </form>

    {% if account %}
        <h5 style="text-align:center;">Your account details are below:</h5>
        <table style="margin: 0 auto;">
            <tr>
                <td>Customer ID:</td>
                <td>{{ account.customer_id }}</td>
            </tr>
            <tr>
                <td>Account ID:</td>
                <td>{{ account.account_id }}</td>
            </tr>
            <tr>
                <td>Account Type:</td>
                <td>{{ account.account_type }}</td>
            </tr>
            <tr>
                <td>Account Balance:</td>
                <td>{{ account.amount }}</td>
            </tr>
        </table>
        <div class="row" style="text-align:center; margin-top:25px;">
            <div class="col-sm">
                <button class="btn btn-success" onclick="window.location='{{ url_for('cashier_deposit', accnt_id=account.account_id) }}';">Deposit</button>
            </div>
            <div class="col-sm">
             <button class="btn btn-success" onclick="window.location='{{ url_for('cashier_withdraw', accnt_id=account.account_id) }}';">Withdraw</button>
            </div>
            <div class="col-sm">
              <button class="btn btn-success" onclick="window.location='{{ url_for('cashier_transfer', accnt_id=account.account_id) }}';">Transfer</button>
            </div>
        </div>
    {% else %}
    {% if c_accounts %}
        <table style="width:50%; margin:0 auto;" class="table table-bordered">
           <thead>
            <tr style="text-align:center;">
                <td>Account ID</td>
                <td>View Details</td>
            </tr>
        </thead>
            <tbody>
            {% for accnt in c_accounts %}
            <tr style="text-align:center;">
                <td>{{ accnt.account_id }}</td>
                <td><button class="btn" onclick="window.location='{{ url_for('accnt_id_details', accnt_id=accnt.account_id) }}';">View</button></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% if accnt_obj %}
        <h5 style="text-align:center;  margin-top:10px;">Your account details are below:</h5>
        <table style="margin: 0 auto; margin-top:10px;">
            <tr>
                <td>Customer ID:</td>
                <td>{{ accnt_obj.customer_id }}</td>
            </tr>
            <tr>
                <td>Account ID:</td>
                <td>{{ accnt_obj.account_id }}</td>
            </tr>
            <tr>
                <td>Account Type:</td>
                <td>{{ accnt_obj.account_type }}</td>
            </tr>
            <tr>
                <td>Account Balance:</td>
                <td>{{ accnt_obj.amount }}</td>
            </tr>
        </table>
        <div class="row" style="text-align:center; margin-top:25px;">
            <div class="col-sm">
                <button class="btn" onclick="window.location='{{ url_for('cashier_deposit', accnt_id=accnt_obj.account_id) }}';">Deposit</button>
            </div>
            <div class="col-sm">
             <button class="btn" onclick="window.location='{{ url_for('cashier_withdraw', accnt_id=accnt_obj.account_id) }}';">Withdraw</button>
            </div>
            <div class="col-sm">
             <button class="btn" onclick="window.location='{{ url_for('cashier_transfer', accnt_id=accnt_obj.account_id) }}';">Transfer</button>
            </div>
        </div>
    {% endif %}
    {% else %}
    {% if msg %}
        <p style="text-align:center;">
            <span class="required">{{ msg }}</span>
        </p>
    {% endif %}
    {% endif %}
    {% endif %}


</div>

{% endblock %}