{% extends 'layout_cashier.html' %}

{% block title %}Cashier{% endblock %}

{% block content %}
<h2>Withdraw Amount</h2>
<{% if res_accnt %}
 <div>


        <table style="margin: 0 auto;">
            <tr>
                <td>Customer ID:</td>
                <td>{{ res_accnt.customer_id }}</td>
            </tr>
            <tr>
                <td>Account ID:</td>
                <td>{{ res_accnt.account_id }}</td>
            </tr>
            <tr>
                <td>Balance Before Deposit:</td>
                <td>{{ res_accnt.amount }}</td>
            </tr>
                        <tr>
                <td>Latest Balance:</td>
                <td>{{ latest_balance }}</td>
            </tr>
        </table>
    <div class="success_msg"><h5>{{ msg }}</h5></div>


</div>
{% endif %}
{% if account %}
<div>

         <form  method="POST" action="{{ url_for('cashier_withdraw', accnt_id=account.account_id) }}">
        <table style="margin: 0 auto;">
            <tr>
                <td>Customer ID:</td>
                <td>{{ account.customer_id }}</td>
            </tr>
            <tr>
                <td>Account ID:</td>
                <td>{{ account.account_id }}</td>
            </tr>
            <tr>
                <td>Account Type:</td>
                <td>{{ account.account_type }}</td>
            </tr>
            <tr>
                <td>Account Balance:</td>
                <td>{{ account.amount }}</td>
            </tr>
            <tr>
                    <th>Withdraw Money     :</th>
                    <td><input type="number" name="withdraw_money"  required=""> </td>
                </tr>
                <tr>
                    <td> </td>
                    <td><input type="submit" value="Submit"  class="btn btn-success"></td>
                </tr>
        </table>
    </form>
    


{% if msg %}
                <p style="text-align:center;">
                    <span class="required">{{ msg }}</span>
                </p>
{% endif %}
{% endif %}
</div>
{% endblock %}