{% extends 'layout.html' %}

{% block title %}Create Account{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
 <h2>Create Account</h2>

    <div >
        <form action="{{ url_for('create_accnt') }}" method="POST" class="form-center" >
            <div class="form-group">
                    <label for="customer_id">Customer Id<span class="required">*</span></label>
                    <input type="text" class="form-control" name="customer_id" id="customer_id" required="true" pattern="\d{9}" maxlength="9">
                </div>
                <div class="form-group">
                    <label>Account Type<span class="required">*</span></label>
                    <select id ="account_type" name="account_type" class="form-control" required="true">
                        <option disabled selected value>--Select an option--</option>
                        <option value="Savings">Savings</option>
                        <option value="Current">Current</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="amount">Deposit Amount<span class="required">*</span></label>
                    <input type="number" class="form-control" min=0 step="1" name="amount" id="amount" required="true">
                </div>
                 <p>
                    <span class="required">(*) Fields are compulsory</span>
                </p>
                <div class="success_msg">{{ msg }}</div>
                <div class="form-group text-center">
                    <button type="submit" value="submit" class="btn btn-lg btn-primary ">Submit</button>
                </div>
                
        </form>
        </div>
{% endblock %}