{% extends 'layout.html' %}

{% block title %}Create Customer{% endblock %}

{% block content %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{url_for('static', filename='cities.js')}}"></script>
</head>
<h2>Create Customer Screen</h2>

<div>
     <div class="success_msg">{{ msg }}</div>
    <form action="{{ url_for('create_customer') }}" method="POST" class="form-center">
        <div class="form-group">
            <label for="ssn_id">Customer SSN Id<span class="required">*</span></label>
            <input type="text" class="form-control" name="ssn_id" id="ssn_id" required="true" pattern="\d{9}"
                maxlength="9">
        </div>
        <div class="form-group">
            <label for="name">Customer Name<span class="required">*</span></label>
            <input type="text" class="form-control" name="name" id="name" required="true">
        </div>
        <div class="form-group">
            <label for="age">Age<span class="required">*</span></label>
            <input type="text" min="0" class="form-control" name="age" id="age" required="true" maxlength="3">
        </div>
        <div class="form-group">
            <label for="address">Address<span class="required">*</span></label>
            <input type="text" class="form-control" name="address" id="address" required="true">
        </div>
        <div class="form-group">
            <label>State<span class="required">*</span></label>
            <select onchange="print_city('city', this.selectedIndex);" id="state" name="state" class="form-control"
                required="true"></select>
        </div>
        <div class="form-group">
            <label>City<span class="required">*</span></label>
            <select id="city" name="city" class="form-control" required="true"></select>
        </div>
        <script language="javascript">print_state("state");</script>
        <p>
            <span class="required">(*) Fields are compulsory</span>
        </p>
       
        <div class="form-group text-center">
            <button type="submit" value="submit" class="btn btn-lg btn-primary ">Submit</button>
            <button type="reset" value="reset" class="btn btn-lg btn-primary ">Reset</button>
        </div>

    </form>
</div>

{% endblock %}