{% extends 'layout.html' %}

{% block title %}Delete Customer{% endblock %}

{% block content %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<h2>Delete Customer</h2>
<div >
<div style=" height: 200px">
    <form action="{{ url_for('delete_customer') }}" method="post" class="form-center">
            <div class="form-group">
                <input type="text" pattern="\d{9}" maxlength="9" name="customer_id" placeholder="Customer Id" id="customer_id" class="form-control"
                    required>
            </div>
            <div class="form-group" style="text-align: center;">
                <button type="submit" value="submit" class="btn  btn-primary " >Submit</button>
            </div>
    </form>
</div>
{% if account%}
 <h5 style="text-align:center;">Your account details are below:</h5>
<div>
   
        <table style="margin: 0 auto;">
            <tr>
                <td>SSN ID:</td>
                <td>{{ account.ssn_id }}</td>
            </tr>
            <tr>
                <td>Name:</td>
                <td>{{ account.name }}</td>
            </tr>
            <tr>
                <td>Age:</td>
                <td>{{ account.age }}</td>
            </tr>
            <tr>
                <td>Address:</td>
                <td>{{ account.address }}, {{ account.city }}, {{ account.state }}</td>
            </tr>
        </table>
    <br>
    <div style="display: flex;justify-content: center;">
        <form action="{{ url_for('delete_customer') }}" method="post">
            <button type="submit" value="submit" class="btn  btn-danger ">Delete</button>
        </form>
    </div>
</div>
{% endif %}
{% if msg %}

    <p class="required" style="text-align: center;">{{msg}}</p>

{% endif %}
</div>
{% endblock %}