{% extends 'layout.html' %}

{% block title %}Delete Account{% endblock %}

{% block content %}

<h2>Delete Account</h2>
<div>
    <div style=" height: 200px">
        <form action="{{ url_for('delete_account') }}" method="post" class="form-center">
            
                <div class="form-group">
                    <input type="text" name="account_id" placeholder="Account Id" id="account_id" class="form-control" pattern="\d{9}"
                maxlength="9"
                        required>
                </div>
                <div class="form-group" style="text-align: center;">
                    <button type="submit" value="submit" class="btn  btn-primary "  >Submit</button>
                </div>
           
        </form>
    </div>
{% if account%}
<h5 style="text-align:center;">Your account details are below:</h5>
   
        <table style="margin: 0 auto;">
            <tr>
                <td>Customer ID:</td>
                <td>{{ account.customer_id }}</td>
            </tr>
            <tr>
                <td>Account ID:</td>
                <td>{{ account.account_id }}</td>
            </tr>
            <tr>
                <td>Account Type:</td>
                <td>{{ account.account_type }}</td>
            </tr>
            <tr>
                <td>Amount:</td>
                <td>{{ account.amount }}</td>
            </tr>
        </table>
    
        <br>
        <div style="display: flex;justify-content: center;">
            <form action="{{ url_for('delete_account') }}" method="post">
                <button type="submit" value="submit" class="btn  btn-danger ">Delete</button>
            </form>
        </div>
    
    {% endif %}
    {% if msg %}
    
        <p class="required" style="text-align: center;">{{msg}}</p>
    {% endif %}
</div>
{% endblock %}