<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">	

</head>
<body style="background-image: url({{ url_for('static', filename='5917.jpg') }});background-size: cover; background-repeat: no-repeat;">
<div class="dark-overlay">

	<div class="container" style="display: flex;height: 400px; justify-content: center; align-items: center;">
		<button class="btn btn-primary mr-4 btn-lg" onclick="window.location='{{ url_for('login') }}';">Executive Login</button>
		<button class="btn btn-primary ml-5 btn-lg" onclick="window.location='{{ url_for('login') }}';">Cashier Login</button>
	</div>
</div>
</body>
</html>
