{% extends 'layout.html' %}

{% block title %}Update Customer{% endblock %}

{% block content %}
<h2>Update Customer</h2>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body>
<div align="center" text-align ="center">

<form class="form-center" action="{{ url_for('update_customer_new') }}" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="ssn_id" placeholder="Customer ID/SSN ID" id="ssn_id"  required="true" pattern="\d{9}"
                maxlength="9">
                </div>
                
               
                <div class="form-group">
                    <input type="submit" value="Submit"  class="btn btn-primary">
                </div>
                
            </form>
            <br>
            <div class="required">{{ msg }}</div>

            <div class="success_msg">{{ var }}</div>

</div>

    {% if ssn %}
    <div class="form-group" align="center" text-align ="center">
     <form  method="POST" action="{{ url_for('update_customer_new') }}">
            <table>
                <tr>
                    <th>Customer SSN ID   :</th>
                    <td>{{ ssn }}</td>
                </tr>
                <tr>
                    <th>Customer ID   :</th>
                    <td>{{ customer_id }}</td>
                </tr>
                <tr>
                    <th>Old Customer Name :</th>
                    <td>{{ name }}</td>
                </tr>
                <tr>
                    <th>New Customer Name <span class="required">*</span>:</th>
                    <td><input type="text" name="new_name" id="new_name" required=""><br>   </td>
                </tr>
                <tr>
                    <th>Old Address      :</th>
                    <td>{{ address }}<br></td>
                </tr>
                <tr>
                    <th>New Address      <span class="required">*</span>:</th>
                    <td> <input type="text" name="new_address" id="new_address" required=""><br></td>
                </tr>
                <tr>
                    <th>Old Age          : </th>
                    <td>{{ age }}</td>
                </tr>
                <tr>
                    <th>New Age          <span class="required">*</span>:</th>
                    <td><input type="text" name="new_age" id="new_age" required=""><br></td>
                </tr>
                <tr>
                    <th>City             :</th>
                    <td>{{ city}}</td>
                </tr>

                

            </table>
            <span class="required">(*) Fields are compulsory</span>
                <div class="form-group mt-2" >
                         <input type="submit" value="Update"  class="btn btn-success">
                </div>
              
            </form>
            </div>
     {% endif %}

</body>

{% endblock %}